.mainContainer { 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: black;
 
}

.dataContainer {
  text-align: center;
  height: 40vmin;
 
}

.header{
  font-size: xxx-large;
  color: white;
  margin-bottom: 20px;
}

.bio {
  font-size: larger;
  color: white;
  margin-bottom: 15px;
}

.waveButton {
  font-size: xx-large;
  border-radius: 20px;
  background-color: white;
  font-weight: 500;
  background-color: coral;
  color: white;
  

}